﻿/*Materialize css modal resize*/
.materialize-css-modal-fullscreen {
    top: 0% !important;
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    z-index: 2003 !important;
}

.materialize-css-modal-collapse {
    top: 10%;
    height: 70%;
    max-height: 70%;
    width: 70%;
    z-index: 2003 !important;
}

.ontop {
    z-index: 2003;
}

.animate {
    -webkit-transition: width 0.3s, height 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s, height 0.3s;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.pink-aero {
        background-color: rgba(255, 240, 250, 0.8)!important;
}

a {
    color: blueviolet;
}

oi-select.select-search-list-item_selection {
}

.btn, .btn-large {
    background-color: #ab47bc !important;
}