﻿@{
    Layout = null;
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <link rel="stylesheet" href="~/Content/material-icons/icon.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
    <link rel="stylesheet" href="~/Scripts/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="~/Scripts/oi.select/dist/select.min.css">
    <link rel="stylesheet" href="~/Content/app/templ/css/main.css">
    @*<link rel="stylesheet" href="css/style.css">*@
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
    <script src="~/Scripts/materialize-css/dist/js/materialize.min.js"></script>

    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-utils-pagination/dirPagination.js"></script>
    <script src="~/Scripts/angular-materialize/src/angular-materialize.min.js"></script>
    <script src="~/Scripts/oi.select/dist/select-tpls.min.js"></script>
    <script src="~/Scripts/clientApp.js"></script>

    @*<link rel="stylesheet" href="~/Content/app/templ/index.html" />*@
</head>
<!doctype html>
<html ng-app="pb">
<body>
    <index></index>
</body>
</html>
