<nav role="navigation" class="lighten-1 purple">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text">{{appName}}</a>
        <ul class="right hide-on-med-and-down">
            <li><a ng-click="setCNI('setMarket')" class="white-text">Form</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav purple ontop">
            <li><a ng-click="setCNI('setMarket')" class="white-text">Form</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="false" class="button-collapse white-text">
            <!--<a href="#" data-activates="nav-mobile" class="button-collapse white-text">-->
            <i class="material-icons">
                menu
            </i>
        </a>
    </div>
</nav>

<div ng-switch on="cni">
    <div ng-switch-when="setMarket">
        <div class="animate-bottom">
            <market></market>
        </div>
    </div>
</div>

<footer class="page-footer gram-footer purple">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">
                    Hi!!)))
                </h5>
                <p class="grey-text text-lighten-4">
                    Just a footer
                    <br />
                </p>
            </div>
        </div>
    </div><div class="footer-copyright">
        <div class="container">
            Made by
            <a href="http://materializecss.com" data-highlightable="1" class="white-text text-lighten-3">
                Materialize
                <br />
            </a>
        </div>
    </div>
</footer><!-- this page is generateded by Gramateria -->