﻿<div class="slider" slider indicators='false'>
    <ul class="slides">
        <li>
            <img src="/Content/images/science.jpg" /><div class="caption center-align">
                <h3 class="red-text">
                    IOO Test APP +
                </h3>
                <h5 class="light grey-text text-lighten-3">
                    <p><a class="waves-effect waves-light btn-large modal-trigger pink lighten-3" href="https://materializecss.com/">materialize css</a></p>
                </h5>
            </div>
        </li>
        <li>
            <img src="/Content/images/adventure-time.jpg" /><div class="caption left-align">
                <h3>
                    +
                </h3>
                <h5 class="light grey-text text-lighten-3">
                    <p><a class="waves-effect waves-light btn-large modal-trigger pink lighten-3" href="https://krescruz.github.io/angular-materialize/">materializecss angularjs directive</a></p>
                </h5>
            </div>
        </li>
        <li>
            <img src="/Content/images/bubblegum_ice_cream.jpg" /><div class="caption right-align">
                <h3>
                    +
                </h3>
                <h5 class="light grey-text text-lighten-3">
                    <p><a class="waves-effect waves-light btn-large modal-trigger pink lighten-3" href="https://github.com/tamtakoe/oi.select">oi.select</a></p>
                </h5>
            </div>
        </li>
        <li>
            <img src="/Content/images/background4_pzh5ou.jpg" /><div class="caption center-align">
                <h3>
                    &
                </h3>
                <h5 class="light grey-text text-lighten-3">
                    <p><a class="waves-effect waves-light btn-large modal-trigger pink lighten-3" href="https://github.com/tamtakoe/oi.select">bitbucket repo</a></p>
                </h5>
            </div>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col m12">
        <div class="row">
            <a href="" data-target='OrderModal' dismissible="false" opacity="0" class="waves-effect waves-light btn-large modal-trigger pink lighten-3" modal>Buy now!</a>
            <div id="OrderModal" class="modal modal-fixed-footer black-text animate pink-aero" ng-class="{'materialize-css-modal-fullscreen':FullScreenModal, 'materialize-css-modal-collapse':!FullScreenModal}">
                <div class="modal-content">
                    <h4>
                        Bubblegum form.)
                        <a href="#!" class="modal-action modal-close waves-effect waves-purple right"><i class="material-icons">close</i></a>
                        <a href="" class="modal-action waves-effect waves-purple right" ng-click="FullScreenModal = !FullScreenModal"><i class="material-icons">crop_square</i></a>
                    </h4>
                    <div class="row">
                        <ul class="collapsible popout" data-collapsible="accordion" watch>
                            <li>
                                <div class="collapsible-header active"><i class="material-icons">playlist_add_chek</i>Form</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <form class="col s12">
                                            <div class="row">
                                                <div input-field class="col s6">
                                                    <input id="first_name" ng-model="purchases.CustomerFirstName" type="text" class="validate" />
                                                    <label for="first_name">First Name</label>
                                                </div>
                                                <div input-field class="col s6">
                                                    <input id="last_name" ng-model="purchases.CustomerLastName" type="text" class="validate" />
                                                    <label for="last_name">Last Name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="email" ng-model="purchases.Email" type="email" class="validate" />
                                                    <label for="email">Email</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6">
                                                    <label for="inputCreated">Input date</label>
                                                    <input input-date
                                                           type="text"
                                                           name="created"
                                                           id="inputCreated"
                                                           ng-model="desiredDate"
                                                           container=""
                                                           format="dd/mm/yyyy"
                                                           months-full="{{ month }}"
                                                           months-short="{{ monthShort }}"
                                                           weekdays-full="{{ weekdaysFull }}"
                                                           weekdays-short="{{ weekdaysShort }}"
                                                           weekdays-letter="{{ weekdaysLetter }}"
                                                           disable="disable"
                                                           min="{{ minDate }}"
                                                           max="{{ maxDate }}"
                                                           today="today"
                                                           first-day="2"
                                                           clear="clear"
                                                           close="Ok"
                                                           select-years="15"
                                                           on-start="onStart()"
                                                           on-render="onRender()"
                                                           on-open="onOpen()"
                                                           on-close="onClose()"
                                                           on-set="onSet()"
                                                           on-stop="onStop()" />
                                                </div>
                                                <div class="col s6">
                                                    <label for="input_starttime">Time</label>
                                                    <input id="input_starttime" ng-model="desiredTime" input-clock data-twelvehour="false" data-default="14:20:00" type="text">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">local_florist</i>Your purchase</div>
                                <div class="collapsible-body">
                                    <oi-select oi-options="item.Name for item in pp track by item.Product_Id"
                                               ng-model="purchases.BasketElements"
                                               multiple
                                               multiple-placeholder="add"
                                               list-placeholder="not found"
                                               placeholder="Select"></oi-select>
                                    <div class="row" ng-repeat="purchase in purchases.BasketElements">
                                        <div input-field class="col s6">
                                            <input ng-model="purchase.Amount" ng-init="purchase.Amount = 1" id="{{purchase.Name}}_{{purchase.Product_Id}}" type="number" class="validate" min="1" />
                                            <label for="{{purchase.Name}}_{{purchase.Product_Id}}">{{purchase.Name}} amount</label>
                                        </div>
                                        <div class="col s6">
                                            <br />
                                            <b>Price: {{purchase.Amount * purchase.Price}}$</b>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header" ng-click="getTotalPrice()"><i class="material-icons">local_atm</i>Payment</div>
                                <div class="collapsible-body">
                                    <p>Total price: {{totalPrice}}$</p>
                                    <div class="row">
                                        <input type="checkbox" ng-model="payShow" ng-change="onChanged(payShow)" id="payShow">
                                        <label for="payShow">I agree to the processing of personal data.</label>
                                    </div>
                                    <div ng-show="payShow" class="row">
                                        <form action="#">
                                            <p ng-repeat="pt in paymentTypes">
                                                <input class="with-gap" ng-model="purchases.PaymenType_Id" name="group1" type="radio" value="{{pt.Id}}" id="{{pt.Name}}_{{pt.Id}}" />
                                                <label for="{{pt.Name}}_{{pt.Id}}">{{pt.Name}}</label>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer pink-aero">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="postPurchases(purchases)">Agree</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col m12">
        <!--<div style="width: 130px;" class="input-field col s2"><label for="resultlimit"> Results per page: </label></div>-->
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
        <table class="responsive-table centered striped highlight bordered">
            <thead>
                <tr>
                    <th ng-click="predicate = 'Id'; reverse=!reverse">
                        ID
                    </th>
                    <th ng-click="predicate = 'Name'; reverse=!reverse">
                        Name
                    </th>
                    <th ng-click="predicate = 'Price'; reverse=!reverse">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="p in products | filter:search | filter:filters | orderBy:predicate:reverse | itemsPerPage: resultlimit">
                    <td>{{ p.Id }}</td>
                    <td>{{ p.Name }}</td>
                    <td>{{ p.Price }}$</td>
                    <td>
                        <a ng-click="addToCart(p)" class="waves-effect waves-light btn customAction"><i class="material-icons left">shopping_cart</i>Add to Cart</a>
                        <!--<a ng-click="deleteVolunteer($index)" class="waves-effect waves-light btn customAction"><i class="material-icons left">delete</i>Delete</a>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
        <div class="row" style="min-width: 50px;">
            <div class="section col s1">
                <div input-field>
                    <select class="" ng-model="select.prodTableLines" material-select watch>
                        <option ng-repeat="value in select.choices">{{value}}</option>
                    </select>
                </div>
            </div>
            <div hidden>
                {{resultlimit = select.prodTableLines}}
            </div>
        </div>
    </div>
</div>